*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent_color: #1d1d1d;
    --main-padding: 0px 6.7rem;
}

body {
    font-family: Heebo;
    height: 1000vh

}

a {
    text-decoration: none;
    /* color: black; */
}

/*------ navbar------- */
/* header{
    height: 20vh;
} */
nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 5rem;
    /* justify-content: space-around; */
    padding: var(--main-padding);
    /* border: 1px solid black; */
    position: sticky;
    top: 0;
    transition: all 0.2s ease-in-out;
    background-color: white;

}
nav img {
    height: auto;
    width: 11.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

nav img:hover {
    filter: opacity(0.8);
}
.nav-para{
    /* text-decoration: none; */
    color: var(--accent_color);
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.3s ease;
}
.nav-para:hover{
    color: #4a4a4a;


}


nav a {
    font-size: 1.1rem;
    color: gray;
    margin: 0rem 0.7rem;
    transition: all 0.2s ease-in-out;

}

.hover-black:hover {
    color: black;
}

.nav-btn {
    background-color: var(--accent_color);
    color: white;
    padding: 0.35rem 1.3rem;
    border-radius: 8px;
}

.nav-btn:hover {
    background-color: #303030;
}

.nav-search {
    padding: 13px 5px 13px 30px;
    width: 255px;
    height: 35px;
    font-size: 0.9rem;
    margin: 0rem 0.7rem;
    border-radius: 9px;
    outline: 0;
    border: none;
    transition: all 0.2s ease-in-out;
    
    
}
.nav-search:focus{
    border: 1px solid rgb(189, 189, 189);

}

/* for the cross icon  */
.nav-search::-webkit-search-cancel-button {
    transform: scale(2);

}

.nav-search-div {
    position: relative;
}

.nav-search-div i {
    margin: 0;
    position: absolute;
    left: 20px;
    top: 5px;
    color: gray;

}

.nav-margin-left-auto {
    margin-left: auto;
}

/* ------seection one------- */

.first-section{
    width: 100vw;
    /* height: 768px; */

    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255,102,0,0.2665441176470589) 100%);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: var(--main-padding);
}


